body {
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
}

header .header-logo-container img {
  background-color: white;
  height: 35px;
  width: 170px;
  padding: 10px;
}

header .header-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbdada;
  width: 414px;
  height: 55px;
  -webkit-box-shadow: inset 0 3px 6px -6px black;
          box-shadow: inset 0 3px 6px -6px black;
}

header .header-icon-container p {
  margin: 10px;
}

header .header-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 414px;
  height: 232px;
  padding-top: 18px;
  padding-bottom: 53px;
  background-color: #f1f1f1;
}

header .header-info-container h2 {
  font-size: 25px;
  font-weight: bold;
}

header .header-info-container p {
  font-size: 18px;
  font-weight: 350;
  text-align: center;
  width: 60%;
}

header .header-info-container button {
  margin-top: 22px;
  border-radius: 50px;
  width: 236px;
  height: 81px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background-image: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

main {
  font-family: 'Roboto', sans-serif;
}

main .main-container-mobile h2 {
  padding: 15px 0px 0px 18px;
}

main .main-container-mobile .howitworks-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards {
  width: 350px;
  border-radius: 20px;
  padding: 22px 0px 22px 0px;
  margin: 13px 0;
  display: inline-block;
  text-align: center;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 5px 14px -7px #747272;
          box-shadow: 0 5px 14px -7px #747272;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-number {
  width: 26px;
  height: 21px;
  border-radius: 50%;
  padding-top: 4px;
  margin-left: -156px;
  display: inline-block;
  color: white;
  background-color: #9356dc;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-choose {
  font-weight: bold;
  margin-left: 21px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-create {
  font-weight: bold;
  margin-left: 21px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-go {
  font-weight: bold;
  margin-left: 15px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards i {
  margin-left: 10px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .fa-store {
  color: #9356dc;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-margin {
  margin-left: -178px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-margin-2 {
  margin-left: -103px;
}

main .main-container-mobile .howitworks-card-container .howitworks-cards-purple {
  background-color: #f2e6fd;
}

.section-resturants-container {
  background-color: #f1f1f1;
  width: 414px;
  height: 1300px;
  margin-bottom: -16px;
}

.section-resturants-container h2 {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 13px;
}

.section-resturants-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-resturants-container .cards-container .restaurant-image-margin {
  margin-top: 15px;
}

.section-resturants-container .cards-container .resturants-cards {
  background-color: white;
  border-radius: 15px;
  width: 375px;
  height: 274px;
  -webkit-box-shadow: 0 4px 14px -6px #545454;
          box-shadow: 0 4px 14px -6px #545454;
}

.section-resturants-container .cards-container .resturants-cards .resturant-image {
  width: 374px;
  height: 190px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

.section-resturants-container .cards-container .resturants-cards .resturant-image img {
  width: 374px;
  height: 190px;
  border-radius: 15px 15px 0px 0px;
}

.section-resturants-container .cards-container .resturants-cards .resturant-image .New-box {
  position: absolute;
  top: 20px;
  left: 275px;
  font-size: 18px;
  padding: 6px;
  width: 68px;
  border-radius: 2px;
  text-align: center;
  color: #388d6d;
  background-color: #90dfc0;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 385px;
  height: 100px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section ul {
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 11px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section ul h3 {
  margin: 0px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section ul p {
  margin-top: 10px;
  font-size: 17px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section i {
  padding: 25px 10px 10px 181px;
  font-size: 30px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section i:hover {
  color: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section .second-heart-padding {
  padding: 24px 10px 10px 142px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section .third-heart-padding {
  padding: 24px 10px 10px 243px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section .fourth-heart-padding {
  padding: 24px 10px 10px 203px;
}

footer {
  width: 414px;
  height: 220px;
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
  color: white;
}

footer ul li:nth-child(1) {
  font-family: 'Shrikhand', cursive;
}

footer ul li:nth-child(1) p {
  padding-top: 26px;
  font-size: 18px;
  margin-top: 0px;
}

footer ul li:nth-child(2) i {
  padding-top: 4px;
  font-size: 12px;
}

footer ul li:nth-child(2) p {
  margin-top: 0px;
  padding-left: 13px;
}

footer ul li:nth-child(3) i {
  padding-top: 5px;
  font-size: 11px;
}

footer ul li:nth-child(3) p {
  margin-top: 0px;
  padding-left: 10px;
  margin-bottom: -3px;
}

footer ul li:nth-child(5) p {
  margin-top: -6px;
}

footer .footer-li-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  header .header-logo-container img {
    height: 77px;
    width: 365px;
  }
  header .header-icon-container {
    width: 768px;
    height: 71px;
  }
  header .header-icon-container i {
    font-size: 25px;
  }
  header .header-icon-container p {
    font-size: 25px;
  }
  header .header-info-container {
    width: 768px;
  }
  header .header-info-container h2 {
    font-size: 27px;
    margin-bottom: 0px;
  }
  header .header-info-container p {
    font-size: 25px;
    width: 83%;
    margin-bottom: 52px;
  }
  header .header-info-container button {
    margin-top: -11px;
    border-radius: 50px;
    width: 287px;
    height: 66px;
  }
  main .main-container-mobile h2 {
    font-size: 27px;
    padding: 15px 0px 0px 293px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards {
    width: 530px;
    padding: 30px 0px 30px 0px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-number {
    width: 18px;
    padding: 17px;
    margin-left: -258px;
    font-size: 19px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards i {
    font-size: 23.5px;
    margin-left: 18px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-choose {
    font-size: 23px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-create {
    font-size: 23px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-go {
    font-size: 23px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-margin {
    margin-left: -280px;
  }
  main .main-container-mobile .howitworks-card-container .howitworks-cards .howitworks-margin-2 {
    margin-left: -168px;
  }
  main .section-resturants-container {
    width: 768px;
  }
  main .section-resturants-container h2 {
    font-size: 30px;
    padding-left: 294px;
  }
  footer {
    width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  header .header-icon-container {
    width: 1425px;
  }
  header .header-info-container {
    width: 1425px;
    height: 325px;
  }
  main .main-container-mobile h2 {
    font-size: 30px;
    padding: 15px 0px 0px 600px;
  }
  main .section-resturants-container {
    width: 1425px;
  }
  main .section-resturants-container h2 {
    font-size: 30px;
    padding-left: 620px;
  }
  footer {
    width: 1425px;
  }
}

.bastille-header {
  width: 414px;
  height: 72px;
}

.bastille-header .bastille-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bastille-header .bastille-span i {
  font-size: 22px;
  margin: 0px 62px 0px 23px;
}

.bastille-header .bastille-span img {
  width: 200px;
  height: 36px;
  margin-top: 25px;
  margin-bottom: 13px;
  margin-right: 100px;
}

.bastille-main {
  width: 414px;
  height: 1353px;
}

.bastille-main .bastille-img-container {
  position: relative;
}

.bastille-main .bastille-img-container img {
  width: 414px;
}

.bastille-main .bastille-food-container {
  position: absolute;
  top: 293px;
}

.bastille-main .bastille-main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  background-color: #f1f1f1;
  border-radius: 45px 45px 0px 0px;
  width: 414px;
}

.bastille-main .bastille-main-title .enchanted-container {
  width: 121px;
  white-space: nowrap;
}

.bastille-main .bastille-main-title p {
  font-size: 28px;
  font-family: 'Shrikhand', cursive;
  margin-left: 15px;
  margin-bottom: 5px;
}

.bastille-main .bastille-main-title i {
  font-size: 25px;
  position: relative;
  left: 220px;
  top: 10px;
}

.bastille-main .bastille-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  width: 401px;
  padding-left: 13px;
}

.bastille-main .bastille-menu-container p {
  font-size: 18px;
}

.bastille-main .bastille-menu-container .word-green-line {
  white-space: nowrap;
  border-bottom: 3px solid #90dfc0;
  padding-bottom: 6px;
  width: 10%;
}

.bastille-main .bastille-menu-container .bastille-entrees-container {
  width: 385px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 13px;
  -webkit-box-shadow: 0 4px 14px -6px #545454;
          box-shadow: 0 4px 14px -6px #545454;
  position: relative;
}

.bastille-main .bastille-menu-container .bastille-entrees-container h3 {
  margin: 11px 11px 4px 11px;
}

.bastille-main .bastille-menu-container .bastille-entrees-container p {
  margin: 0px 10px 10px 10px;
  font-size: 15px;
}

.bastille-main .bastille-menu-container .bastille-entrees-container .bastille-entrees-price {
  position: absolute;
  top: 40px;
  left: 330px;
}

.bastille-main .bastille-menu-container .bastille-entrees-container .gourmand-entrees-price {
  position: absolute;
  top: 64px;
  left: 330px;
}

.bastille-main .bastille-menu-container button {
  margin: 27px 0px 76px 72px;
  border-radius: 50px;
  width: 236px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background-image: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

.enchanted-main {
  width: 414px;
  height: 1432px;
}

.palette-main {
  width: 414px;
  height: 1354px;
}

.gourmand-main {
  width: 414px;
  height: 1376px;
}

@media only screen and (min-width: 768px) {
  .bastille-header {
    width: 768px;
  }
  .bastille-header .bastille-span i {
    margin: 0px 236px 0px 23px;
  }
  .bastille-img-container {
    width: 768px;
  }
  .bastille-img-container img {
    width: 768px;
  }
  .enchanted-main {
    width: 768px;
  }
  footer {
    width: 768px;
  }
}
/*# sourceMappingURL=style.css.map */