body {
  margin: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
}

header .header-logo-container img {
  background-color: white;
  height: 35px;
  width: 170px;
  padding: 10px;
}

header .header-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbdada;
  width: 414px;
  height: 55px;
  -webkit-box-shadow: inset 0 3px 6px -6px black;
          box-shadow: inset 0 3px 6px -6px black;
}

header .header-icon-container p {
  margin: 10px;
}

header .header-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 414px;
  height: 232px;
  padding-top: 18px;
  padding-bottom: 53px;
  background-color: #f1f1f1;
}

header .header-info-container h2 {
  font-size: 25px;
  font-weight: bold;
}

header .header-info-container p {
  font-size: 18px;
  font-weight: 350;
  text-align: center;
  width: 60%;
}

header .header-info-container button {
  margin-top: 22px;
  border-radius: 50px;
  width: 236px;
  height: 81px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  background-image: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

main {
  font-family: 'Roboto', sans-serif;
}

main .main-container-numberbubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main-container-numberbubble p {
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 20px;
  background-color: #9356dc;
}

main .main-container-mobile h2 {
  margin-left: 10px;
  padding-top: 25px;
}

main .main-container-mobile ol {
  padding-left: 25px;
  margin-top: 29px;
  margin-bottom: 60px;
}

main .main-container-mobile li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 70px;
  border-radius: 20px;
  margin-top: 22px;
  -webkit-box-shadow: 0 9px 34px -23px #545454;
          box-shadow: 0 9px 34px -23px #545454;
  font-weight: bold;
  background-color: #f1f1f1;
  padding-left: 34px;
}

main .main-container-mobile li:nth-child(1) {
  margin-top: 0px;
}

main .main-container-mobile p:nth-child(1) {
  margin: 3px 0px 0px 7px;
  color: white;
}

main .main-container-mobile i {
  font-size: 17px;
  color: grey;
  margin-right: 25px;
}

.section-resturants-container {
  background-color: #f1f1f1;
  width: 414px;
  height: 1237px;
}

.section-resturants-container h2 {
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 13px;
}

.section-resturants-container a {
  text-decoration: none;
  color: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

.section-resturants-container .fas a:hover {
  display: hidden;
  text-decoration: none;
  color: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

.section-resturants-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-resturants-container .cards-container .restaurant-image-margin {
  margin-top: 15px;
}

.section-resturants-container .cards-container .resturants-cards {
  background-color: white;
  border-radius: 15px;
  width: 375px;
  height: 274px;
  -webkit-box-shadow: 0 4px 14px -6px #545454;
          box-shadow: 0 4px 14px -6px #545454;
}

.section-resturants-container .cards-container .resturants-cards .resturant-image {
  width: 374px;
  height: 190px;
  border-radius: 15px 15px 0px 0px;
}

.section-resturants-container .cards-container .resturants-cards .resturant-image img {
  width: 374px;
  height: 190px;
  border-radius: 15px 15px 0px 0px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 385px;
  height: 100px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section ul {
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 11px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section ul h3 {
  margin: 0px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section ul p {
  margin-top: 10px;
  font-size: 17px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section i {
  padding: 25px 10px 10px 181px;
  font-size: 30px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section i:hover {
  color: linear-gradient(163deg, #ff79da 0%, #9356dc 100%);
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section .second-heart-padding {
  padding: 24px 10px 10px 142px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section .third-heart-padding {
  padding: 24px 10px 10px 243px;
}

.section-resturants-container .cards-container .resturants-cards .resturants-info-section .fourth-heart-padding {
  padding: 24px 10px 10px 203px;
}

footer {
  width: 414px;
  height: 220px;
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
  color: white;
}

footer ul li:nth-child(1) {
  font-family: 'Shrikhand', cursive;
}

footer ul li:nth-child(1) p {
  padding-top: 26px;
  font-size: 18px;
  margin-top: 0px;
}

footer ul li:nth-child(2) i {
  padding-top: 4px;
  font-size: 12px;
}

footer ul li:nth-child(2) p {
  margin-top: 0px;
  padding-left: 13px;
}

footer ul li:nth-child(3) i {
  padding-top: 5px;
  font-size: 11px;
}

footer ul li:nth-child(3) p {
  margin-top: 0px;
  padding-left: 10px;
  margin-bottom: -3px;
}

footer ul li:nth-child(5) p {
  margin-top: -6px;
}

footer .footer-li-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (min-device-width: 768px) {
  header .header-logo-container img {
    background-color: white;
    height: 62px;
    width: 278px;
    padding: 10px;
  }
  header .header-icon-container {
    width: 768px;
    height: 70px;
  }
  header .header-icon-container i {
    font-size: 20px;
  }
  header .header-icon-container p {
    font-size: 26px;
    margin: 10px;
  }
  header .header-info-container {
    width: 768px;
    height: 232px;
  }
  main .main-container-mobile ul {
    padding-left: 32px;
  }
  main .main-container-mobile li {
    width: 705px;
    height: 70px;
  }
  main .section-resturants-container {
    width: 768px;
    height: 1237px;
  }
  footer {
    width: 768px;
    height: 220px;
  }
}
/*# sourceMappingURL=style.css.map */